.center_child {
    text-align: center;
}

.adv {
    position: absolute;
    top: 40px;
    right: 20px;
    height: 120px;
    width: 200px;
    background-color: thistle;
    color: slateblue;
    text-align: center;
    padding: 10px 5px auto 5px;
    z-index: 100;
}

.adv p{
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}


/* navigation bar */

nav {
    width: 100%;
    position:fixed;
    top: 0px;
    background-color: #008080;
    height:30px;
}

#nav_icon {
    margin:0px 3px 0px 0px;
    height:32px;
    width:26px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align:middle;
}

#nav_icon * {
    height: 20px;
    margin-top: 5px;
}

nav span {
    margin-top:5px;
    margin-bottom:5px;
    display: inline-block;
    color:hsl(0, 0%, 98.8%);
}

nav div[dynamic-id="nav_items"] {
    margin-top:5px;
    margin-bottom:5px;
    display: inline-block;
}

nav div[dynamic-id="nav_items"] a{
    text-decoration: none;
    color:hsl(0, 0%, 98.8%);
    display: inline;
}

nav div[dynamic-id="nav_items"] a:hover{
    color:yellowgreen;
}
nav div[dynamic-id="nav_items"] a:visited{
    color: thistle;
}

nav div[dynamic-id="nav_items"] a~a{
    border-left: 1.2px solid hsl(0, 0%, 98.8%);
    padding-left: 2px;
}

/* body */

.video {
    margin: auto;
    width: 1024px;
}

.cell_title {
    margin-left: 1em;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: auto;
}

.v_box {
    margin-left: 10px;
    margin-top: 10px;
    height: 100px;
    width: 130px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-color:powderblue;
}

.a_box {
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    height: 23px;
    width: 120px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-color:powderblue;
}

.video_boxes {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 160px;
    max-width: 90%;
    max-height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-start;
}


.audio_boxes {
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    min-width: 120px;
    height: 20px;
    max-width: 90%;
    max-height: 70%;

}

.text_cell {
    padding: 15px, 15px, 15px, 15px;
    grid-area: text;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    min-width: 400px;
    min-height: 220px;
    background-color: lightsteelblue;
}

.audio_cell {
    min-width: 400px;
    padding: 15px, 15px, 15px, 15px;
    grid-area: audio;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    min-height: 220px;
    background-color: lightsteelblue;
}

.video_cell {
    min-width: 400px;
    padding: 15px, 15px, 15px, 15px;
    grid-area: video;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    min-height: 220px;
    background-color: lightsteelblue;
}

.todo_cell {
    background-color: lightsteelblue;
    padding: 15px, 15px, 15px, 15px;
    grid-area: todo;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    min-width: 400px;
    min-height: 220px;
    background-color: lightsteelblue;
}

.journal_container {
    display:grid;
    margin: auto;
    width:1024px;
    padding-top: 5mm; 
    padding-left: 5mm;
    padding-right: 5mm; 
    padding-bottom: 5mm;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-areas: 
        "text video"
        "todo audio";
}

/* For add new entry */

label + input {
    display:block;
}

select .important {
    font-weight: bold;
}

datalist > option {
    font-weight: bold;
}

form button {
    font-size: 12pt;
}

/* small fixes */

body {
    font-family: 'Roboto', sans-serif;
}

.v_box:active {
    background-color:steelblue;
    color: white;
}
.a_box:active {
    background-color:steelblue;
    color: white;
}
.v_box:hover {
    cursor: pointer;
    font-size: 16pt;
    font-weight: bold;
}
.a_box:hover {
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
}

summary:hover {
    cursor: pointer;
    font-weight: bold;
    color:teal;
}

form {
    display:block;
    margin:auto 15px auto 15px;
    background-color: rgb(162, 226, 252);
}


footer {
    margin-top: 15px;
    padding-top: 42px;
    height:80px;
    background-color:rgb(39, 39, 39);
    font-size: 16px;
    font-weight: bold;
    color: floralwhite;
    text-align: center;
}

@media only screen and (max-device-width: 480px) {
    .video {
        width:400px;
        margin:auto;
    }
}